<style>
html {
    margin: 0 !important;
}
ol.linenums {
    margin-left: 50px;
}
.docu {
    margin: 20px;
    margin-top: 60px;
}
</style>
<div class='docu'>
<a href="/" class="btn btn-large pull-right btn-primary">Return Home</a>
<%= File.read 'public/doc_gen.html' %>
</div>
