<div class="container">
    <h1>Documentation</h1>
    WebSync uses Docco to automatically generate nicely formatted annotated source. Documentation currently is spotty.
    <ul>
        <% Dir.glob("docs/*.html").each do |doc| 
            doc = doc.split("/")[1].split(".html")[0]
        %>
            <li><a href="/documentation/<%= doc %>.html"><%= doc %></a></li>
        <% end %>
    </ul>
</div>
