<div class="menu">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Web-Sync</a>
				<ul class="nav">
					<li class="active"><a>Text</a></li>
				</ul>
			</div>
		</div>
		<div class="ribbon">
			<div class="container">
			<a class="btn"><i class="icon-bold"></i></a>
			<a class="btn"><i class="icon-italic"></i></a>
			<a class="btn"><i class="icon-strikethrough"></i></a>
			<a class="btn"><i class="icon-underline"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="content_well">
<div class="content">
	<p>
		<%= @doc.body %>
		askdjfklsadjflaskdjflaksdjf
	</p>
</div>
</div>
