<%= stylesheet_tag 'edit' %>
<style media="print" type="text/css">
    body > * {
        display: none;
    }
    .content_well, .content_well * {
        display: block !important;
    }
</style>
	<nav class="navbar navbar-inverse navbar-fixed-top">
        
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Produced by Outer Earth Interactive" data-toggle="tooltip">WebSyn.ca</a>
      </div>
      <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
					<li class="active"><a id="name" contenteditable=true data-toggle="tooltip" title="Edit Name"><%= @doc.name %></a></li>
				</ul>
				<ul id="ribbon_buttons" class="nav navbar-nav ribbon-opt">
				</ul>
                <div id="ribbon_button_active"></div>
				<ul id="settings" class="nav navbar-nav pull-right ribbon-opt">
					<li class>
                        <a id="settingsBtn" title="Settings"><i class="fa fa-cog fa-lg"></i></a>
                    </li>
					<li class>
                        <%= render_login_button %>
                    </li>
				</ul>
                <div class="popover fade bottom in settings-popup"><div class="arrow"></div><h3 class="popover-title"><b>Settings</b>
                    <ul class="nav tab-nav nav-pills">
                        <li class="active" ><a href="#config" data-toggle="tab">Config</a></li>
                        <li><a href="#assets" data-toggle="tab">Assets</a></li>
                        <li><a href="#diffs" data-toggle="tab">Changes</a></li>
                    </ul>
                <a class="close pull-right"><i class="fa fa-times"></i></a></h3><div class="popover-content">
                    <div class="tab-content">
                        <div class="tab-pane" id="assets">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>URL</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="diffs">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Patch</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="config">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Global Setting</th>
                                        <th>Document Setting</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Use spaces instead of tabs</td>
                                        <td><select class="form-control">
                                            <option>True</option>
                                            <option>False</option>
                                        </select></td>
                                        <td><div class='input-append'><select class="form-control">
                                            <option>Use Global</option>
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                        <button class="btn btn-warning">Override</button></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
			</div>
		</div>
		<div class="ribbon">
			<div id="File" class="container">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i> Download <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="download/docx">Microsoft Word (.docx)</a></li>
                        <li><a href="download/pdf">PDF (.pdf)</a></li>
                        <li><a href="download/html">HTML (.html)</a></li>
                        <li><a href="download/odt">Libre Office (.odt)</a></li>
                        <li><a href="download/txt">Raw Text (.txt)</a></li>
                    </ul>
                </div>
                <a href="json" class="btn btn-default" title="View JSON" data-toggle="tooltip"><i class="fa fa-eye"></i> JSON</a>
                <span title="Zoom" data-toggle="tooltip" ><input type="text" id="zoom_level" class="span2" value="" data-slider-min="20" data-slider-max="250" data-slider-step="5" data-slider-value="100"></span>
                <select id="view_mode" class="form-control" title="View Mode" class="ribbon_button">
					<option>Normal</option>
					<option>Zen</option>
                    <option>Presentation</option>
				</select>
                <select id="public_mode" class="form-control" title="Publicly Accessable" class="ribbon_button">
					<option>Public</option>
					<option>Private</option>
				</select>
                <a href="delete" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
			</div>
			<div id="Insert" class="container">
				<button id="picture" title="Picture" class="btn btn-default"><i class="fa fa-picture-o"></i></button>
				<button id="video" title="Video" class="btn btn-default"><i class="fa fa-youtube-play"></i></button>
			</div>
	</nav>
<div class="content_well">
    <div class="return_edit">
        <a class="return" title="Return to Editing" data-toggle="tooltip-top">
            <i class="fa fa-compress fa-2x"></i>
        </a>
        <a class="fullscreen" title="Toggle Fullscreen" data-toggle="tooltip-top">
            <i class="fa fa-arrows-alt fa-2x"></i>
        </a>
    </div>
	<div class="content">
	</div>
</div>
<div id="alert_well">
</div>
