<div class="menu">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/" data-toggle="tooltip" title="Produced by Outer Earth Interacttive" data-placement="bottom">Web-Sync</a>
				<ul class="nav">
					<li class="active"><a id="name" contenteditable="true"><%= @doc.name %></a></li>
				</ul>
				<ul id="ribbon_buttons" class="nav ribbon-opt">
				</ul>
				<ul id="settings" class="nav pull-right ribbon-opt">
					<li class><a id="settingsBtn" data-toggle="popover" title="Settings" data-content="Blah blah blah." data-placement="bottom"><i class="icon-cog icon-large"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="ribbon">
			<div id="File" class="container">
				<a href="download" class="btn"><i class="icon-cloud-download"></i> DOCX</a>
                <select id="zoom_level" title="Zoom Level" class="ribbon_button">
					<option>50%</option>
					<option>80%</option>
					<option>90%</option>
					<option selected>100%</option>
					<option>120%</option>
					<option>150%</option>
					<option>200%</option>
				</select>
                <select id="view_mode" title="View Mode" class="ribbon_button">
					<option>Normal</option>
					<option>Zen</option>
				</select>
			</div>
			<div id="Insert" class="container">
				<button id="picture" title="Picture" class="btn"><i class="icon-picture"></i></button>
			</div>
			<div id="Text" class="container">
				<button id="bold" title="Bold" class="btn"><i class="icon-bold"></i></button>
				<button id="italic" title="Italic" class="btn"><i class="icon-italic"></i></button>
				<button id="strikethrough" title="Strikethrough" class="btn"><i class="icon-strikethrough"></i></button>
				<button id="underline" title="Underline" class="btn"><i class="icon-underline"></i></button>
				<select id="font" title="Font" class="ribbon_button">
					<option>Arial</option>
					<option>Droid Sans</option>
					<option>Times New Roman</option>
				</select>
				<select id="font_size" title="Font Size" class="ribbon_button">
					<option>8pt</option>
					<option>10pt</option>
					<option>11pt</option>
					<option>12pt</option>
					<option>14pt</option>
					<option>24pt</option>
					<option>36pt</option>
				</select>
				<div class="btn-group">
					<button id="justifyleft" title="Justify Left" class="btn"><i class="icon-align-left"></i></button>
					<button id="justifycenter" title="Justify Center" class="btn"><i class="icon-align-center"></i></button>
					<button id="justifyright" title="Justify Right" class="btn"><i class="icon-align-right"></i></button>
					<button id="justifyfull" title="Justify Full" class="btn"><i class="icon-align-justify"></i></button>
				</div>
				<button id="insertunorderedlist" title="Unordered List" class="btn"><i class="icon-list-ul"></i></button>
				<button id="insertorderedlist" title="Ordered List" class="btn"><i class="icon-list-ol"></i></button>
				<button id="removeFormat" title="Clear Formatting" class="btn"><i class="icon-remove"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="content_well">
	<div class="content">
		<div class="page"><%= @doc.body %></div>
	</div>
</div>
<div id="alert_well">

</div>
