<%= stylesheet_tag 'edit' %>
<style media="print" type="text/css">
    body > * {
        display: none;
    }
    .content_well, .content_well * {
        display: block !important;
    }
</style>
	<nav class="navbar navbar-inverse navbar-fixed-top">
        
      <div class="collapse navbar-collapse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" title="Produced by Outer Earth Interactive" data-toggle="tooltip"><span class="hidden-xs">WebSyn.ca</span><i class="fa visible-xs fa-home fa-lg"></i></a>
      </div>
                <ul class="nav navbar-nav">
					<li class="active"><a id="name" contenteditable=true data-toggle="tooltip" title="Edit Name"><%= doc.name %></a></li>
				</ul>
				<ul id="ribbon_buttons" class="nav navbar-nav ribbon-opt">
				</ul>
				<ul id="settings" class="nav navbar-nav pull-right ribbon-opt">
					<li class>
                        <a id="settingsBtn" title="Settings"><i class="fa fa-cog fa-lg"></i></a>
                    </li>
					<li class>
                        <%= render_login_button %>
                    </li>
				</ul>
                <div class="popover fade bottom in settings-popup" style="display: none;"><div class="arrow"></div><h3 class="popover-title"><b>Settings</b>
                    <ul class="nav tab-nav nav-pills">
                        <li class="active" ><a href="#permissions" data-toggle="tab">Permissions</a></li>
                        <li><a href="#config" data-toggle="tab">Config</a></li>
                        <li><a href="#assets" data-toggle="tab">Assets</a></li>
                        <li><a href="#diffs" data-toggle="tab">Changes</a></li>
                    </ul>
                    <a class="close pull-right"><i class="fa fa-times"></i></a></h3><div class="popover-content">
                        <div class="tab-content">
                            <div class="tab-pane" id="assets">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>URL</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="diffs">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Patch</th>
                                            <th>User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane active" id="permissions">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3>Default Access</h3>
                                        Access Mode:
                                        <select id="access_mode" class="form-control">
                                            <option value="public">Public</option>
                                            <option value="hidden">Hidden (link only)</option>
                                            <option value="private">Private</option>
                                        </select>
                                        Default permission level:
                                        <select id="default_permissions" class="form-control">
                                            <option value="editor">Editor</option>
                                            <option value="viewer">Viewer</option>
                                        </select>
                                    </div>
                                    <div class="col-md-9">
                                        <h3>User Access</h3>
                                        <table id="user_perms" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Email</th>
                                                    <th>Access Level</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="config">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Property</th>
                                            <th>Global Setting</th>
                                            <th>Document Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Use spaces instead of tabs</td>
                                            <td><select class="form-control">
                                                <option>True</option>
                                                <option>False</option>
                                            </select></td>
                                            <td><div class='input-append'><select class="form-control">
                                                <option>Use Global</option>
                                                <option>True</option>
                                                <option>False</option>
                                            </select>
                                            <button class="btn btn-warning">Override</button></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div>
		<div class="ribbon">
			<div id="File" class="container">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i> Download <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="download/docx">Microsoft Word (.docx)</a></li>
                        <li><a href="download/pdf">PDF (.pdf)</a></li>
                        <li><a href="download/html">HTML (.html)</a></li>
                        <li><a href="download/odt">Libre Office (.odt)</a></li>
                        <li><a href="download/txt">Raw Text (.txt)</a></li>
                    </ul>
                </div>
                <a href="json" class="btn btn-default" title="View JSON" data-toggle="tooltip"><i class="fa fa-eye"></i> JSON</a>
                <span title="Zoom" data-toggle="tooltip" ><input type="text" id="zoom_level" class="span2" value="" data-slider-min="20" data-slider-max="250" data-slider-step="5" data-slider-value="100"></span>
                <select id="view_mode" class="form-control" title="View Mode" class="ribbon_button">
					<option>Normal</option>
					<option>Zen</option>
                    <option>Presentation</option>
				</select>
                <a href="delete" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
			</div>
			<div id="Insert" class="container">
				<button id="picture" title="Picture" class="btn btn-default"><i class="fa fa-picture-o"></i></button>
				<button id="video" title="Video" class="btn btn-default"><i class="fa fa-youtube-play"></i></button>
			</div>
	</nav>
<div class="content_well">
    <div class="return_edit">
        <a class="return" title="Return to Editing" data-toggle="tooltip-top">
            <i class="fa fa-compress fa-2x"></i>
        </a>
        <a class="fullscreen" title="Toggle Fullscreen" data-toggle="tooltip-top">
            <i class="fa fa-arrows-alt fa-2x"></i>
        </a>
    </div>
    <div class="content"></div>
	<!--<iframe seamless=true sandbox="allow-forms allow-scripts allow-top-navigation"  class="content">
	</iframe>-->
</div>
<div id="alert_well">
</div>
<div id="fatal_error" style="display: none;" class="centered_alert">
    <div>
        <div>
            <div class="carousel-caption">
                <h1>That's an error, Harry!</h1>
                <p class="lead">
                    Error: <span id="error_message">Something failed to load.</span> <br>
                    Check the console for more information. If you aren't doing anything weird, please create a new issue on the GitHub page. <br>
                    <a class="btn btn-default" href="https://github.com/d4l3k/WebSync/issues/new">New Issue</a>
                    <a class="btn btn-primary" href="/">Return Home</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
// Dab of error handling code.
window.addEventListener("load", function(){
    if(window.initError) return;
    window.initError = setTimeout(function(){
        $("#fatal_error").fadeIn();
    },100);
}, false);
</script>
