<%= erb :nicehead %>
<div class="container">
    <div class="row-fluid">

    <div class="span12 marketing">
        <div class="featurette">
            <img class="featurette-image pull-right" src="/img/code.png">
            <h2 class="featurette-heading">Do what you want. <span class="muted">WebSync is completely open source.</span></h2>
                <p class="lead">
                    WebSync is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. This means you can take the source code and use it however you like.
                </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image pull-left" src="/img/lock.png">
            <h2 class="featurette-heading">Your privacy is important. <span class="muted">We fight for the users.</span></h2>
                <p class="lead">
                    Outer Earth Interactive will not sell your data to advertisers or respond to illegal requests from the government. In addition, all traffic to websyn.ca is encrypted preventing unwanted surveillance.
                </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image pull-right" src="/img/servers.png">
            <h2 class="featurette-heading">Keep your data private. <span class="muted">You can run WebSync yourself.</span></h2>
                <p class="lead">
                    Open source code means that you can run WebSync on your own servers. You can feel save knowing only you have access to your files.
                </p>
        </div>
        <hr class="featurette-divider">

            <p>
                <i>Works with Chrome, Firefox, Opera, and other modern browsers.</i>
            </p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a> <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">WebSync</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tristanrice.name" property="cc:attributionName" rel="cc:attributionURL">Tristan Rice</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
            </p>
    </div>
    </div>

    </div>
</div>

