
<div class="hero-unit">
	<h1>Welcome to Web-Sync</h1>
	<p>
		Made by Outer Earth Interactive 
	</p>
	<p>
		<a href="/new" class='btn btn-primary btn-large'>Create a Document <i class="icon-file-alt"></i></a>
	</p>
</div>

