<div class="container">
    <style>
        html {
            overflow-y: scroll;
        }
    </style>
    <div class="hero-unit">
        <h1>Welcome to Web-Sync</h1>
        <p>
            Made by <a href="http://outerearth.net">Outer Earth Interactive</a>
        </p>
        <p>
            <a href="/new" class='btn btn-primary btn-large'>Create a Document <i class="icon-file-alt"></i></a> or <a href="/documentation" class='btn btn-info btn-large'>View Javascript Documentation</a>
        </p>
    </div>
    <table class="table table-bordered table-hover table-click">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last Edited</th>
                <th>Created</th>
        </thead>
        <tbody>
            <% Document.all.each do |doc| %>
                <tr>
                    <td><%= doc.id.base62_encode %></td>
                    <td><%= doc.name %></td>
                    <td><%= doc.last_edit_time %></td>
                    <td><%= doc.created %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script type="text/javascript">
window.onload = function(){
    $("td").click(function(){
        var id = this.parentElement.children[0].innerText;
        c = this;
        location.pathname="/"+id+"/edit";
        console.log("blah: ",id);
    });
}
</script>

