<style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }



    .container {
        margin-top: 0px !important;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
        margin-bottom: 0;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 650px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .or {
        display: initial;
        position: relative;
        top: 5px;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      border-radius: 4px;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    }
    /* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 60px;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}
    </style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/banner.png" alt="">
          <div class="container">
            <div class="carousel-caption">
                <h1>Welcome to WebSync</h1>
                <p class="lead">
                    Produced by <a href="http://outerearth.net">Outer Earth Interactive</a>.
                </p>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown"><i class="icon-file-alt"></i> Create a Document
 <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <% AssetGroup.each do |ass| %>
                                <li><a href="/new/<%= ass.id %>"><%= ass.name %>&#151;<%= ass.description %></a></li>
                            <% end %>
                        </ul>
                    </div><p class="lead or"> or </p><a href="/upload" class='btn btn-large'><i class="icon-cloud-upload"></i> Upload a File</a><p class="lead or"> or </p><a href="https://github.com/d4l3k/WebSync" class='btn btn-info btn-large'><i class="icon-eye-open"></i> View the Code</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=d4l3k&amp;repo=WebSync&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=d4l3k&amp;repo=WebSync&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=d4l3k&amp;repo=WebSync&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="150px" height="20px"></iframe>
      </li>
      <li>
        <div class="g-plusone" data-size="medium" data-href="https://websyn.ca"></div>
      </li>
      <li>
        <div class="fb-like" data-href="https://websyn.ca" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
      </li>
    </ul>
  </div>
</div>
<div class="container">
    <div class="row-fluid">

    <div class="span12 marketing">
        <div class="featurette">
            <img class="featurette-image pull-right" src="/img/code.png">
            <h2 class="featurette-heading">Do what you want. <span class="muted">WebSync is completely open source.</span></h2>
                <p class="lead">
                    WebSync is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. This means you can take the source code and use it however you like.
                </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image pull-left" src="/img/lock.png">
            <h2 class="featurette-heading">Your privacy is important. <span class="muted">We fight for the users.</span></h2>
                <p class="lead">
                    Outer Earth Interactive will not sell your data to advertisers or respond to illegal requests from the government. In addition, all traffic to websyn.ca is encrypted preventing unwanted surveillance.
                </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image pull-right" src="/img/servers.png">
            <h2 class="featurette-heading">Keep your data private. <span class="muted">You can run WebSync yourself.</span></h2>
                <p class="lead">
                    Open source code means that you can run WebSync on your own servers. You can feel save knowing only you have access to your files.
                </p>
        </div>
        <hr class="featurette-divider">

            <p>
                <i>Works with Chrome, Firefox, Opera, and other modern browsers.</i>
            </p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a> <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">WebSync</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tristanrice.name" property="cc:attributionName" rel="cc:attributionURL">Tristan Rice</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
            </p>
    </div>
    </div>

    </div>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
