<!doctype html>
<html>
	<body>
		<%= yield %>
	</body>
	<head>
		<title>Web-Sync Editor</title>
		<link rel="stylesheet" type="text/css" href="/assets/bundle.css">
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<% if !defined?(@javascripts).nil? %>
			<% @javascripts.each do |script| %>
				<script type="text/javascript" src="<%= script %>"></script>
			<% end %>
		<% end %>
	</head>
</html>
