<!doctype html>
<html>
	<body>
		<%= yield %>
	</body>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	</head>
</html>
