<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico?v=3" />
        <title>Web-Sync Editor</title>
		<%= stylesheet_tag 'bundle' %>
        <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
    <% if !defined?(@javascripts).nil? %>
        <% @javascripts.each do |script| %>
            <script type="text/javascript" src="<%= script %>"></script>
        <% end %>
    <% end %>
</html>
