<style>
html {
    overflow: auto !important;
}
</style>
<div class='container'>
    <div class="row-fluid">
        <div class="span5">
<div class="hero-unit">
  <h1>Sign In</h1>
  <p>
  <form class="form-horizontal" action='login' method='post'>
    <input type="hidden" name="redirect" value="<%= env["QUERY_STRING"] %>">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" name='email' id="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" name='password' id="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
</p>
</div>
</div>

<div class="span5">
<div class="hero-unit">
  <h1>Register</h1>
  <p>
  <form class="form-horizontal" action='register' method='post'>
    <input type="hidden" name="redirect" value="<%= env["QUERY_STRING"] %>">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" name='email' id="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" name='password' id="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn btn-primary">Register and Sign in</button>
    </div>
  </div>
</form>
</p>
</div>
</div>
        <div class="span2">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-6781356745519353";
            /* WebSync Index */
            //google_ad_slot = "7880400590";
            //google_ad_slot = "9357133790";
            google_ad_slot = "1833866998";
            google_ad_width = 160; //(window.innerWidth-960)/2;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
            src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
    </div>

</div>
</div>
