<style>
.hero-unit {
    margin: 30px auto;
    display: table;
}
td:first-child{
    padding-right: 30px;
}
h2,h3 {
    line-height: 25px !important;
}
</style>
<div class="container">
<div class="hero-unit">
<table>
<tr>

<td>
<div>
<h2>Oops!</h2>
<h3>you found a</h3>
<h2>Dead Link</h2>
<a href="/" class="btn btn-large btn-primary">Return Home</a>
</div>
</td>
<td>
<img src="/img/link-alpha.png"></img>
</td>
</tr>
</table
</div>
</div>
