<style>
html {
    overflow: auto !important;
}
.hero-unit {
    margin-top: 30px;
}
.icon-massive {
    font-size: 12em;
}
form {
    margin-top: 30px;
}
span {
    width: 60%;
}
</style>
<div class="container">
<div class="hero-unit">
<i class="icon-cloud-upload icon-massive pull-right"></i>
<span>
<h1>Upload a File</h1>
<p>This is rather buggy. Use with caution. <br>Depending on the file type you may get mixed results. <br>Supports: HTML, DOCX and PDF.</p>
<form class="form-horizontal" action='upload' enctype="multipart/form-data" method='post'>
  <div class="control-group">
    <label class="control-label" for="email">File</label>
    <div class="controls">
      <input type="file" name='file' placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </div>
</form>
</span>
</div>
</div>
