<%= stylesheet_tag 'bootstrap-fileupload' %>
<style>
html {
    overflow: auto !important;
}
.icon-massive {
    font-size: 12em;
    margin-left: 0 !important;
}
form {
    margin-top: 30px;
}
.form-horizontal .controls {
    margin-left: 100px !important;
}
.form-horizontal .control-label {
    width: 80px !important;
}
.form-horizontal .control-group {
    height: 31px !important;
}
</style>
<div class="container">
<div class="hero-unit">
<i class="icon-cloud-upload icon-massive pull-right"></i>
<span>
<h1>Upload a File</h1>
<p>Supports most document formats that Libre Office can read.<br>Depending on the file type you may get mixed results. </p>
<form class="form-horizontal" action='upload' enctype="multipart/form-data" method='post'>
  <div class="control-group">
    <label class="control-label" for="email">File</label>
    <div class="controls">
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input name='file' type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </div>
</form>
</span>
</div>
</div>
<%= javascript_tag 'bootstrap-fileupload' %>
