* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
body,html {
    overflow: hidden;
	//background-color: #eee !important;
}
.menu {
    width: 100%;
}
.zen .menu {
    position: fixed;
    z-index: 1000;
}
.zen .content_well {
    background-color: white !important;
    background-image: none !important;
}
.zen .content {
    border: none;
}
.navbar {
    position: relative !important;
}
cursor {
	background-color: red;
	padding-right: 3px;
}
.hidden {
	visibility: hidden;
}
.navbar-inner a {
	color: white !important;
}
.ribbon {
	width: 100%;
	background-color: white;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	height: 38px !important;
}
.table-click td {
    cursor: pointer;
}
.content_well {
	//padding-top: 0.1in;
    background-color: #eee !important;
    background-image: linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -o-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -moz-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -ms-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #C0C0C0),
        color-stop(1, #F0F0F0)
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#C0C0C0');
    background-attachment: fixed;
	min-width: 100%;
	display: inline-block;
    height: 100%;
    overflow: auto;
}
.content_well > div {
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}
.content {
	min-height: 9in;
	width: 6.5in;
	padding: 1in;
	margin:auto;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
	border: 1px solid #aaa;
	background-color: white;
    //box-shadow: 0 0 8px #aaa;
}
.content .page {
	-user-modify: read-write;
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	min-height: 9in;
	border: 1px solid #eee;
	word-wrap: break-word;
	overflow-wrap: break-work;
	hyphens: auto;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	font-size: 14px;
	line-height: normal;
}
:focus, :active {
	outline: none;
}
::-moz-selection {
	background-color: #ccc;
}
::selection {
	background-color: #ccc;
}
.no-connection {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f33),to(#c11)) !important;
}
a#name {
	//background-color: #555;
	background-color: rgba(255,255,255,0.3) !important; 
	font-size: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 3in;
	max-height: 25px;
	white-space: nowrap
}
a#name:focus {
	max-width: 6in;
	//background-color: #777;

	background-color: rgba(255,255,255,0.45) !important; 
	outline: none;
}
a#name:hover {
	//background-color: #777;
	background-color: rgba(255,255,255,0.45) !important; 
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}
.ribbon button, .ribbon select {
	margin-bottom: 0px !important;
    margin-top: 5px;
	width: auto !important;
}
#font_size {
	width: auto !important;
}
.btn-group {
	position: relative;
	top: 1px;
}
.ribbon-opt li.active a, .ribbon-opt li.active a:hover  {
	background-color: rgba(255,255,255,0.45) !important; 
	//background-color: #777 !important;
	font-weight: bold;
}
.ribbon-opt li {
	cursor: pointer;
}
.ribbon-opt li a:hover {
	background-color: rgba(255,255,255,0.3) !important; 
}
.ribbon .container {
	display: none;
    height: 36px !important;
}
.content table {
	/*-user-modify: read-only;
	-moz-user-modify: read-only;
	-webkit-user-modify: read-only;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;	*/
}
.content table, .content th, .content td {
	border: 1px solid #888;
	word-wrap: break-word;
	overflow-wrap: break-work;
	hyphens: auto;
	border-collapse:collapse;
}
.content td {
	padding-left: 1px;
	padding-right: 1px;
	min-width: 0.25in;
	height: 11pt;
}
#table_cursor {
	position: absolute;
	outline: 1px solid black;
	border: 1px solid black;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	min-height: 1px;
	min-width: 1px;
	pointer-events: none;
	background: none !important;
	left: -1000px;
	top: 0px;
}
.dropdown-menu i {
	position: relative;
	left: -10px;
}
#alert_well {
	position: fixed;
	text-align: right;
	bottom: 0;
	right: 0;
	margin-right: 20px;
}
#alert_well .alert {
	display: table;
	margin-left: auto;
    margin-bottom: 10px;
}
