* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {

}
.menu {

}
.ribbon {
	width: 100%;
	background-color: white;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	height: 40px !important;
}
.content_well {
	background-color: #eee;
	padding: 0.5in;
	padding-top: 1in;
}
.content {
	height: 9in;
	width: 6.5in;
	padding: 1in;
	margin:auto;
	border: 1px solid #ccc;
	background-color: white;
}
.content .page {
	-user-modify: read-write;
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	height: 100%;
	border: 1px solid #eee;
	word-wrap: break-word;
	overflow-wrap: break-work;
	hyphens: auto;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	font-size: 14px;
	line-height: normal;
}
:focus {
	outline: none;
}
::-moz-selection {
	background-color: #ccc;
}
::selection {
	background-color: #ccc;
}
a#name {
	background-color: #555;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 3in;
	max-height: 25px;
	white-space: nowrap
}
a#name:focus {
	max-width: 6in;
}
a#name:hover {
	background-color: #777;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}
.ribbon_button {
	position: relative;
	top: 8px;
	width: auto !important;
}
#font_size {
	width: auto !important;
}
.btn-group {
	position: relative;
	top: 1px;
}
#ribbon_buttons li.active a {
	background-color: #777 !important;
	font-weight: bold;
}
#ribbon_buttons li a:hover {
	background-color: #555;
}
.ribbon .container {
	display: none;
}
