<div id="chat" class="sidebar"><div id="user_list"></div><div id="chat_well" class="panel panel-default"></div><div class="chat_input input-group"><input class="form-control" id="appendedInputButton" type="text" ><span class="input-group-btn"><button id="msg_btn" class="btn btn-default" type="button">Send</button></span></div></div>
