<div class="modal fade" id="encryptionModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Create or Upload Encryption Keys</h4>
      </div>
      <div class="modal-body">
        <div class="0">
        <p>Hi! To use end-to-end encryption in WebSync you need to have a set of encryption keys.</p>
        <button type="button" class="btn btn-primary btn-block" id="genKey">Generate a Key</button>
        <button type="button" class="btn btn-default btn-block" id="uploadKey">Upload a Key</button>
        <h4>Keys stored on server</h4>
        <table class="table" id="keys">
          <thead>
            <th>Type</th>
            <th>User ID</th>
            <th>Modified</th>
          </thead>
        </table>
        </div>
        <div class="genKey">
          <form>
          <p>
            <label for="realName">Your Real Name</label>
            <input type="text" class="form-control" id="realName" required minlength="2">
          </p>
          <p>
            <label for="password">Passphrase</label>
            <input type="password" class="form-control" id="password" required minlength="6">
          </p>
          <p>
            <label for="password2">Repeat Passphrase</label>
            <input type="password" class="form-control" id="password2" required minlength="6" equalTo="#password">
          </p>
          <p>
            <label for="keySize">RSA Key Size</label>
            <select class="form-control" id="keySize">
            <% _.map([1024, 2048, 4096], function(type) { %>
              <option><%= type %> bit</option>
            <% }).join('') %>
            </select>
          </p>
           <input type="submit" class="btn btn-primary btn-block" id="doGenKey" value="Generate"></input>
          </form>
        </div>
        <div class="doGenKey">
          <p>Generating key...</p>
        </div>
        <div class="saveOptions">
          <p>Done. Please save these somewhere safe.</p>
          <a class="btn btn-default btn-block" id="publicKey" target="_blank" download="websync-publickey.key">Public Key</a>
          <a class="btn btn-default btn-block" id="privateKey" target="_blank" download="websync-publickey.key">Private Key</a>
          <p>In addition to storing the encrypted keys in the browser, WebSync can also store them on the server. This makes using multiple computer easier and makes it so you can retrieve them in case you ever lose them.
          <div class="checkbox">
            <label>
              <input type="checkbox" id="storePrivOnServer" checked> Store encrypted keys on server.
            </label>
          </div>
          <button class="btn btn-primary btn-block" id="saveAndFinish">Finish</button>
        </div>
        <div class="uploadKey">
          <p>Upload an existing key.</p>
          <form>
          <p>
          <label for="publicKey">Public Key <input id="pubkeyfile" type="file"/></label>
          <textarea id="publicKey" class="form-control" required/>
          </p>
          <p>
          <label for="privateKey">Private Key <input id="privkeyfile" type="file"/></label>
          <textarea id="privateKey" class="form-control" required/>
          </p>
          <input type="submit" class="btn btn-primary btn-block" id="doUploadKey" value="Upload"></input>
          </form>
        </div>
        <div class="decrypt">
          <p>Enter your passphrase to decrypt your private key.</p>
          <form>
          <p>
            <label for="passphrase">Passphrase</label>
            <input type="password" class="form-control" id="passphrase" required>
          </p>
          <p class="decrypt error">
          </p>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="storePassPhrase"> Remember passphrase on this computer.
            </label>
          </div>
          <p class="remember error" style="display: none;">
            WARNING: Remembering your passphrase severely decreases the security of your encryption keys!
          </p>
          <input type="submit" class="btn btn-primary btn-block" id="doDecryptPassphrase" value="Decrypt"/>
          </form>
        </div>
        <div class="encrypt">
          <p>You are about to encrypt this document.
           There's a few things you should know before you encrypt a WebSync document and how it operates.
          </p>
          <p>
          <ol>
            <span style="color: red">
              <li>There is no way to recover your documents if you lose your encryption keys.</li>
              <li>This is VERY experimental and you may lose this file.</li>
            </span>
            <li>It ONLY encrypts the actual content of the document, the changes made and messages between clients.</li>
            <li>It does NOT encrypt the metadata and related content. This consists of:
              <ul>
                <li>Title</li>
                <li>List of users who can view/edit</li>
                <li>Creation/Last edit dates</li>
                <li>Images uploaded</li>
              </ul>
            </li>
          </ol>
          </p>
          <input type="submit" class="btn btn-danger btn-block" id="doEncryptDocument" value="Encrypt"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
