<div id="Text" class="Text container">
  <button id="bold" title="Bold (Ctrl-B)" class="btn btn-default"><i class="fa fa-bold"></i></button>
  <button id="italic" title="Italic (Ctrl-I)" class="btn btn-default"><i class="fa fa-italic"></i></button>
  <button id="strikethrough" title="Strikethrough" class="btn btn-default"><i class="fa fa-strikethrough"></i></button>
  <button id="underline" title="Underline (Ctrl-U)" class="btn btn-default"><i class="fa fa-underline"></i></button>
  <button id="createLink" title="Hyperlink" class="btn btn-default"><i class="fa fa-link"></i></button>
  <div id="font" class="dropdown btn-group">
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="name">Font</span> <i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu" role="menu">
    </ul>
  </div>
  <select id="font_size" title="Font Size" class="form-control ribbon_button">
    <option>8pt</option>
    <option>9pt</option>
    <option>10pt</option>
    <option>11pt</option>
    <option>12pt</option>
    <option>13pt</option>
    <option>14pt</option>
    <option>15pt</option>
    <option>16pt</option>
    <option>17pt</option>
    <option>18pt</option>
    <option>19pt</option>
    <option>20pt</option>
    <option>21pt</option>
    <option>22pt</option>
    <option>23pt</option>
    <option>24pt</option>
    <option>25pt</option>
    <option>26pt</option>
    <option>27pt</option>
    <option>28pt</option>
    <option>29pt</option>
    <option>30pt</option>
    <option>31pt</option>
    <option>32pt</option>
    <option>33pt</option>
    <option>34pt</option>
    <option>35pt</option>
    <option>36pt</option>
    <option>37pt</option>
    <option>38pt</option>
    <option>39pt</option>
    <option>40pt</option>
    <option>41pt</option>
    <option>42pt</option>
    <option>43pt</option>
    <option>44pt</option>
    <option>45pt</option>
    <option>46pt</option>
    <option>47pt</option>
    <option>48pt</option>
    <option>72pt</option>
  </select>
  <div class="btn-group">
    <button id="justifyleft" title="Justify Left (Ctrl-Shift-L)" class="btn btn-default"><i class="fa fa-align-left"></i></button>
    <button id="justifycenter" title="Justify Center (Ctrl-Shift-E)" class="btn btn-default"><i class="fa fa-align-center"></i></button>
    <button id="justifyright" title="Justify Right (Ctrl-Shift-R)" class="btn btn-default"><i class="fa fa-align-right"></i></button>
    <button id="justifyfull" title="Justify Full (Ctrl-Shift-J)" class="btn btn-default"><i class="fa fa-align-justify"></i></button>
  </div>
  <div class="btn-group" id="line_spacing">
    <button  title="Line Spacing" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-text-height"></i></button>
    <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="dropdown-header">Line Spacing</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1.15</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1.5</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
    </ul>
  </div>
  <button id="insertunorderedlist" title="Unordered List (Ctrl-Shift-7)" class="btn btn-default"><i class="fa fa-list-ul"></i></button>
  <button id="insertorderedlist" title="Ordered List (Ctrl-Shift-8)" class="btn btn-default"><i class="fa fa-list-ol"></i></button>
  <button id="outdent" title="Outdent (Shift-Tab)" class="btn btn-default"><i class="fa fa-outdent"></i></button>
  <button id="indent" title="Indent (Tab)" class="btn btn-default"><i class="fa fa-indent"></i></button>
  <button id="superscript" title="Superscript (Ctrl-Shift-^)" class="btn btn-default"><i class="fa fa-superscript"></i></button>
  <button id="subscript" title="Subscript (Ctrl-Shift-_)" class="btn btn-default"><i class="fa fa-subscript"></i></button>
  <input id="fontColor" title="Font Color" class="form-control" type="color"></input>
  <input id="hilightColor" title="Text Background Color" class="form-control" type="color" value="#FFFFFF"></input>
  <button id="insertHorizontalRule" title="Insert Horizontal Rule" class="btn btn-default">&mdash;</button>
  <button id="removeFormat" title="Clear Formatting (Ctrl-Shift-\\)" class="btn btn-default"><i class="fa fa-unlink"></i></button>
</div>
