<div id="Table" class="Table container" style="display: none;">
  <button class="btn btn-default" title="Delete Table">
    <i class="fa fa-trash-o"></i> Table
  </button>
  <div class="btn-group">
    <button class="btn btn-default" type="button" title="Insert Row Above">
      <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-default" type="button" title="Delete Row">
      <i class="fa fa-trash"></i> Row
    </button>
    <button class="btn btn-default" type="button" title="Insert Row Below">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" type="button" title="Insert Column Left">
      <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-default" type="button" title="Delete Column">
      <i class="fa fa-trash"></i> Column
    </button>
    <button class="btn btn-default" type="button" title="Insert Column Right">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
