$title-bg: #222222 !default;
$title-bold: white !default;
$title-sub: rgba($title-bold, 0.8) !default;
$title-hover: $title-bold !default;
$title-hover-bg: darken($title-bg, 2%) !default;

.navbar-inverse {
    background: $title-bg;
    border: darken($title-bg, 10%);
    .navbar-collapse > ul {
        a, .navbar-text {
            color: $title-sub !important;
        }
        a {
            &.navbar-brand, &#name {
                color: $title-bold !important;
            }
            &:hover {
                color: $title-hover !important;
                background: $title-hover-bg !important;
            }
        }
        li.active a {
            color: $title-hover !important;
            background: $title-hover-bg !important;
        }
    }
}
