@mixin ex($key, $val) {
    -moz-#{$key}: $val;
    -o-#{$key}: $val;
    -ms-#{$key}: $val;
    -webkit-#{$key}: $val;
    #{$key}: $val;
}
@mixin keyframes($name) {
    @-moz-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

body,html {
    overflow: hidden;
	//background-color: #eee !important;
    position: fixed;
    width: 100%;
    height: 100%;
    color: black;
}
@media (max-width: 979px) {
    .menu .navbar {
        ul li>a {
            margin-top: -5px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: -5px;
        }
        #ribbon_button_active {
            margin-top: -5px;
            padding-bottom: 10px;
        }
    }
    div.content_well, div.sidebar {
        top: 93px;
    }
    div.navbar-fixed-top .navbar-inner, div.navbar-fixed-bottom .navbar-inner {
        padding: 5px 0;
    }
}
.menu .btn-group {
    position: initial;
}
.btn-group>.tooltip+.btn {
    margin-left: -1px;
}
.btn-group>.btn+.tooltip {
    margin-left: -1px;
}
.tooltip {
    z-index: 10001;
    position: absolute;
}
.menu {
    width: 100%;
    .dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
    }
    .ribbon input[type=color] {
        margin: 0;
        margin-top: 5px;
        width: 20px;
        cursor: pointer;
    }
    #ribbon_button_active {
        height: 40px;
        position: absolute;
        width: 0;
        background-color: #e5e5e5;
        background-color: rgba(255, 255, 255, 0.45) !important;
        -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
        -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
        box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    }
    #ribbon_buttons {
        li.active>a {
            background-color: transparent !important;
            box-shadow: none;
        }
    }
    #File {
        .slider {
            margin: 5px 10px 0 10px;
            .tooltip {
                margin-top: -15px;
            }
        }
    }
}
/*
// Flat buttons until hover
.menu .btn {
    background-color: white;
    background-image: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgb(204, 204, 204);
}
.menu .btn:hover, .menu .btn:focus {
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}*/
.content * {
    line-height: 1.15em;
}
.content li p {
    display: inline;
}
.content ol, .content ul {
    margin: 0 0 0px 25px;
}
.zen .menu {
    position: fixed;
    z-index: 1000;
}
.zen .content_well {
    background-color: white !important;
    background-image: none !important;
}
.zen .content {
    border: none;
}
cursor {
	background-color: red;
	padding-right: 3px;
}
.hidden {
	visibility: hidden;
}
.settings-popup {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
    margin: 0 auto;
    max-width: none;
    width: 940px;
    ul.tab-nav {
        float:none;
        margin-top: -8px;
        margin-bottom: -12px;
        margin-left: 8px;
        display: inline-block;
        li a {
            padding: 8px 14px;
            line-height: 18px;
            color: black !important;
            text-shadow: none;
            &:hover {
                background-color: #ccc;
            }
        }
        li.active a {
            color: white !important;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        }
    }
    .tab-content {
        overflow: initial;
    }
    .popover-content {
        overflow-y: auto;
    }
}
.settings-popup .arrow {
    /*left: 914px !important;*/
}
.settings-popup .close {
    color: black !important;
}
.settings-popup td {
    vertical-align: middle;
}
.settings-popup .input-append, .settings-popup select {
    margin-bottom: 0px !important;
}
.settings-popup .input-append .active {
    border-color: #f89406 #f89406 #ad6704 !important;
}
.content_well {
	//padding-top: 0.1in;
    background-color: #eee !important;
    background-image: linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -o-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -moz-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -ms-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #C0C0C0),
        color-stop(1, #F0F0F0)
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#C0C0C0');
    background-attachment: fixed;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 83px;
    display: inline-block;
    overflow: auto;
    text-align: center;
}
.content_well > div {
    @include ex(transform-origin, top center);
}
.layout-presentation {
    //box-shadow: 0 0 8px #aaa;
    #slides {
        @include ex(transform-origin, top center);
        display: table;
        margin: 0 auto;
    }
    .slide {
        height: 6in;
        width: 8in;
        margin: 0.1in auto;
        padding: 20px;
        border: 1px solid #aaa;
        border-radius: 4px;
        background-color: white;
        font-size: 24px;
        line-height: 1.15;
        display:none;
        -user-modify: read-write;
        -moz-user-modify: read-write;
        -webkit-user-modify: read-write;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        &.active {
            display:block;
        }
    }
    .content_well {
        left: 251px;
    }
    &.view {
        .content_well {
            left: 0;
        }
        #presentation-nav {
            display: none;
        }
    }
}
.content-spreadsheet {
    #spreadsheetWell {
        margin-top: 16px;
        margin-left: 38px;
        table {
            background-color: white;
        }
    }
    #top_corner {
        width: 38px;
        height: 16px;
        border: 1px solid #aaa;
        background-color: #eee;
        z-index: 903;
        position: fixed;
    }
    .axis {
        position:fixed;
    }
}
.content-page {
	min-height: 9in;
	width: 6.5in;
	padding: 1in;
    margin: 0.1in auto;
	border: 1px solid #aaa;
    border-radius: 4px;
	background-color: white;
    //box-shadow: 0 0 8px #aaa;
    .page {
        -user-modify: read-write;
        -moz-user-modify: read-write;
        -webkit-user-modify: read-write;
        min-height: 9in;
        border: 1px solid #eee;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        font-size: 14px;
        line-height: 1.15;
    }
}
.view {
    .menu {
        display:none;
    }
    .content_well {
        top: 0px;
        background-image: none;
        background-color: black !important;
    }
    #presentation-nav {
        top: 0px;
        border-color: #222;
        background-color: #111;
        #addSlide {
            display: none;
        }
        #slideView {
            top: 5px;
            background-color: black;
            border-color: #222;
            color: white;
            .slidePreview {
                &.active {
                    border-color: cyan;
                    font-weight: bold;
                }
                background-color: white;
            }
        }
    }
    #chat {
        display: none;
    }
    .content {
        border: none;
    }
    .page, .slide {
        border: none;
        -user-modify: read-only  !important;
        -moz-user-modify: read-only !important;
        -webkit-user-modify: read-only !important;
    }
}
:focus, :active {
	outline: none;
}
::-moz-selection {
	background-color: #b3d4fc;
}
::selection {
	background-color: #b3d4fc;
}
.no-connection {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f33),to(#c11)) !important;
}
a#name {
	//background-color: #555;
	background-color: rgba(255,255,255,0.3) !important;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 3in;
	max-height: 25px;
	white-space: nowrap;
    &:focus {
        max-width: 6in;
        //background-color: #777;
        text-overflow: clip;
        background-color: rgba(255,255,255,0.45) !important;
        outline: none;
    }
    &:hover {
        //background-color: #777;
        background-color: rgba(255,255,255,0.45) !important;
    }
}
.preformatted {
    font-family: monospace;
    white-space: pre;
}
.ribbon button, .ribbon select {
	margin-bottom: 0px !important;
    margin-top: 5px;
	width: auto !important;
}
#font_size {
	width: auto !important;
}
.content {
    position: relative;
    text-align: initial;
    display: inline-block;
	table {
        @include ex(user-modify, read-only);
	}
    table, th, td {
        border: 1px solid #888;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        border-collapse:collapse;
    }
    td {
        padding-left: 1px;
        padding-right: 1px;
        width: 0.25in;
        height: 16px;
        cursor: text;
    }
    th {
        height: 16px;
    }
    hr {
        border-bottom: 1px solid #eee;
        border-top: 1px solid black;
    }
}
.Table.axis {
    cursor: pointer;
    &#x th.resize {
        cursor: col-resize;
    }
    &#y th.resize {
        cursor: row-resize;
    }
}
.ribbon {
	.input-append, .input-prepend {
		margin-top: 5px;
		padding-right: 1px;
		padding-left: 1px;
		margin-bottom: 0px !important;
	}
	.btn-group {
		margin-left: 0px !important;
	}
    .btn+.btn-group {
        margin-left: 5px !important;
    }
    .container {
        padding: 0 5px;
        white-space: nowrap;
        overflow-x:auto;
        overflow-y: hidden;
    }
}
#table_cursor {
	position: absolute;
	outline: 2px solid black;
	border: 0px solid transparent;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	pointer-events: none;
	background: none !important;
	left: -1000px;
	top: 0px;
    z-index: 900;
}
#table_selection {
    position: absolute;
    pointer-events: none;
    left:-1000px;
    top: 0px;
    padding: 1px 2px;
    z-index: 899;
	background-color: rgba(0,120,252,0.2);
}
.dropdown-menu i {
	position: relative;
	left: -10px;
}
.navbar {
    position: relative;
    border-bottom: 1px solid #ccc;
}
.sidebar {
    width: 250px;
    float: right;
    position:absolute;
    right: 0;
    bottom: 0;
    top: 83px;
    background-color: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    &#presentation-nav {
        width: 240px;
        float: left;
        left: 0;
        padding: 5px;
        .slideWell {
            position: absolute;
            top: 40px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 1px solid #ccc;
            background-color: white;
            font-size: 10pt;
            border-radius: 4px;
            overflow-y: auto;
            .slidePreview {
                color: black;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 1.5in;
                margin: 5px;
                padding: 5px;
                cursor: pointer;
                &.active {
                    border: 2px solid black;
                    margin: 4px;
                }
            }
        }
    }
    &#chat {
        position: fixed;
        #user_list{
            display: table;
            border-spacing: 5px;
            a {
                display: table-cell;
                img {
                    width: 38px;
                }
            }
        }
        a {
            img {
                border: 1px solid #ccc;
            }
        }
        a img:hover, a img:active, a:hover img, a:active img {
            border: 1px solid black;
        }
        #chat_well {
            margin: 5px;
            border: 1px solid #ccc;
            background-color: white;
            position: absolute;
            font-size: 10pt;
            right: 0px;
            border-radius: 4px;
            bottom: 35px;
            top: 45px;
            width: 238px;
            overflow-y: auto;

            span {
                font-weight: bold;
            }
            a img {
                margin-right: 5px;
                height: 24px;
                float: left;
            }
            p {
                margin: 0;
                vertical-align: top;
                padding: 5px;
                border-bottom: 1px solid #ccc;
                line-height: 10pt;
                word-wrap: break-word;
                min-height: 26px;
            }
        }
        .chat_input {
            margin: 5px;
            position: absolute;
            bottom: 0;
            * {
                font-size: 10pt;
            }
            input {
                width: 171px;
            }
        }
    }
}
.Table.axis {
    position: absolute;
    font-size: 11pt;
    line-height: 11pt;
    color: black;
    background-color: #eee;
    display: none;
    z-index: 901;
    th.active {
        background-color: #666;
        color: white;
    }
    &#y {
        width: 40px;
    }
}
.Resize.handle {
    display: none;
}
.edit .Resize.handle {
    display: initial;
    border: 1px solid black;
    background-color: white;
    height: 6px;
    width: 6px;
    position: absolute;
    margin: -4px;
    z-index: 910;
    &.top.left {
        cursor: nw-resize;
    }
    &.top.middle {
        cursor: n-resize;
    }
    &.top.right {
        cursor: ne-resize;
    }
    &.middle.left {
        cursor: w-resize;
    }
    &.middle.right {
        cursor: e-resize;
    }
    &.bottom.left {
        cursor: sw-resize;
    }
    &.bottom.middle {
        cursor: s-resize;
    }
    &.bottom.right {
        cursor: se-resize;
    }
}

.badge-pulse {
    @include ex(animation-duration, 1s);
    @include ex(animation-name, badge-glow);
    @include ex(animation-iteration-count, infinite);
    @include ex(animation-direction, alternate);
}
@include keyframes(badge-glow) {
    from {
        background-color: #999;
    }
    to {
        background-color: #f89406;
    }
}
