$blue: #08c;

@mixin ex($key, $val) {
    -moz-#{$key}: $val;
    -o-#{$key}: $val;
    -ms-#{$key}: $val;
    -webkit-#{$key}: $val;
    #{$key}: $val;
}
@mixin keyframes($name) {
    @-moz-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

body,html {
    overflow: hidden;
	//background-color: #eee !important;
    position: fixed;
    width: 100%;
    height: 100%;
    color: black;
    top: 0;
    left: 0;
}
.menu .btn-group {
    position: initial;
}
.btn-group>.tooltip+.btn {
    margin-left: -1px;
}
.btn-group>.btn+.tooltip {
    margin-left: -1px;
}
.tooltip {
    z-index: 10001;
    position: absolute;
}
body .mathquill-rendered-math {
    border: none;
    &.empty {
        border: 1px solid #aaa;
        &:before {
            content: "equation";
            font-size: 8pt;
            color: #aaa;
        }
    }
    sup {
        top: initial;
    }
    sub {
        bottom: initial;
    }
    * {
        white-space: nowrap;
    }
}
.menu {
    width: 100%;
    .dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
    }
    .ribbon input[type=color] {
        margin: 0;
        margin-top: 5px;
        width: 20px;
        cursor: pointer;
    }
    #ribbon_buttons {
        li.active>a {
            background-color: transparent !important;
            box-shadow: none;
        }
    }
    #File {
        .slider {
            margin: 5px 10px 0 10px;
            .tooltip {
                margin-top: -15px;
            }
        }
    }
}
/*
// Flat buttons until hover
.menu .btn {
    background-color: white;
    background-image: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgb(204, 204, 204);
}
.menu .btn:hover, .menu .btn:focus {
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}*/
.content * {
    line-height: 1.15em;
}
.content li p {
    display: inline;
}
.content ol, .content ul {
    margin: 0 0 0px 25px;
}
.zen .menu {
    position: fixed;
    z-index: 1000;
}
.zen .content_well {
    background-color: white !important;
    background-image: none !important;
}
.zen .content {
    border: none;
}
cursor {
	background-color: red;
	padding-right: 3px;
}
.hidden {
	visibility: hidden;
}
nav .settings-popup {
    position: absolute;
    display: none;
    top: 40px;
    left: 50px;
    right: 50px;
    margin: 0 auto;
    max-width: none;
    ul.tab-nav {
        float:none;
        margin-top: -9px;
        margin-bottom: -12px;
        margin-left: 8px;
        display: inline-block;
        li a {
            padding: 8px 14px;
            line-height: 18px;
            color: black !important;
            text-shadow: none;
            &:hover {
                background-color: #cccccc;
            }
        }
        li.active a {
            color: white !important;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        }
    }
    .tab-content {
        overflow: initial;
    }
    .popover-content {
        overflow-y: auto;
    }
}
.settings-popup .arrow {
    /*left: 914px !important;*/
}
.settings-popup .close {
    color: black !important;
}
.settings-popup td {
    vertical-align: middle;
}
.settings-popup .input-append, .settings-popup select {
    margin-bottom: 0px !important;
}
.settings-popup .input-append .active {
    border-color: #f89406 #f89406 #ad6704 !important;
}
.content_well {
    background-color: #eee !important;
    background-image: linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -o-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -moz-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -ms-linear-gradient(bottom, #C0C0C0 0%, #F0F0F0 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #C0C0C0),
        color-stop(1, #F0F0F0)
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#C0C0C0');
    background-attachment: fixed;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 94px;
    display: inline-block;
    overflow: auto;
    text-align: center;
    .return_edit {
        z-index: 800;
        position: fixed;
        bottom: 0;
        margin: 10px 5px;
        a {
            cursor: pointer;
            &:hover {
                color: white;
            }
            margin: 5px;
            color: #999999;
        }
    }
}
.content_well > div {
    @include ex(transform-origin, top center);
}
.layout-presentation {
    //box-shadow: 0 0 8px #aaa;
    #slides {
        display: table;
        margin: 0 auto;
    }
    .slide {
        height: 6in;
        width: 8in;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #aaa;
        border-radius: 4px;
        background-color: white;
        font-size: 24px;
        line-height: 1.15;
        display:none;
        -user-modify: read-write;
        -moz-user-modify: read-write;
        -webkit-user-modify: read-write;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        &.active {
            display:block;
        }
    }
    .content_well {
        left: 240px;
    }
    &.view {
        .content_well {
            left: 0;
        }
        #presentation-nav {
            display: none;
        }
    }
}
.content-spreadsheet {
    #spreadsheetWell {
        padding-top: 17px;
        padding-left: 38px;
        table {
            background-color: white;
        }
    }
    #top_corner {
        width: 40px;
        height: 19px;
        border: 1px solid #aaa;
        background-color: #eee;
        z-index: 903;
        position: fixed;
    }
    .axis {
        position:fixed;
    }
}
.content-page .content_container {
	min-height: 9in;
	width: 8.5in;
	padding: 1in;
    margin: 0.1in auto;
	border: 1px solid #aaa;
    border-radius: 4px;
	background-color: white;
    //box-shadow: 0 0 8px #aaa;
    .page {
        -user-modify: read-write;
        -moz-user-modify: read-write;
        -webkit-user-modify: read-write;
        min-height: 9in;
        border: 1px solid #eee;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        font-size: 14px;
        line-height: 1.15;
    }
}
.view {
    .menu {
        display:none;
    }
    .content_well {
        top: 0px;
        background-image: none;
        background-color: black !important;
    }
    #presentation-nav {
        top: 0px;
        border-color: #222;
        background-color: #111;
        #addSlide {
            display: none;
        }
        #slideView {
            top: 5px;
            background-color: black;
            border-color: #222;
            color: white;
            .slidePreview {
                &.active {
                    border-color: cyan;
                    font-weight: bold;
                }
                background-color: white;
            }
        }
    }
    #chat {
        display: none;
    }
    .content {
        border: none;
    }
    .page, .slide {
        border: none;
        -user-modify: read-only  !important;
        -moz-user-modify: read-only !important;
        -webkit-user-modify: read-only !important;
    }
}
:focus, :active {
	outline: none;
}
::-moz-selection {
	background-color: #b3d4fc;
}
::selection {
	background-color: #b3d4fc;
}
nav.no-connection {
    background-color: #800;
}
a#name {
	//background-color: #555;
	background-color: rgba(255,255,255,0.3) !important;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 3in;
	height: 50px;
    margin-bottom: -5px;
	white-space: nowrap;
    display: inline-block;
    &:focus {
        max-width: initial;
        //background-color: #777;
        text-overflow: clip;
        background-color: rgba(255,255,255,0.45) !important;
        outline: none;
    }
    &:hover {
        //background-color: #777;
        background-color: rgba(255,255,255,0.45) !important;
    }
}
.preformatted {
    font-family: monospace;
    white-space: pre;
}
.ribbon button, .ribbon select {
	margin-bottom: 0px !important;
    margin-top: 5px;
	width: auto !important;
}
#font_size {
	width: auto !important;
}
.ribbon {
    .form-control {
        display: inline-block;
        width: 150px;
    }
    .btn {
        margin-top: 5px;
    }
    & > * {
        //display: none;
    }
    input[type="color"] {
        padding: 2px 4px !important;
        margin-top: 5px;
        width: 38px;
    }
}
.content {
    position: relative;
    text-align: initial;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: -15px;
	table {
        @include ex(user-modify, read-only);
	}
    table, th, td {
        border: 1px solid #888;
        word-wrap: break-word;
        overflow-wrap: break-work;
        hyphens: auto;
        border-collapse:collapse;
    }
    td {
        padding-left: 1px;
        padding-right: 1px;
        width: 0.3in;
        min-width: 0.25in;
        height: 16px;
        cursor: text;
    }
    th {
        height: 16px;
    }
    hr {
        border-bottom: 1px solid #eee;
        border-top: 1px solid black;
    }
}
.Table.axis {
    cursor: pointer;
    th {
        text-align: center;
        font-size: 13px;
    }
    &#x th.resize {
        cursor: col-resize;
    }
    &#y th.resize {
        cursor: row-resize;
    }
}
.ribbon {
    //padding: 0 30px 5px 30px;
    //padding: 0 0 5px 0;
	.input-append, .input-prepend {
		margin-top: 5px;
		padding-right: 1px;
		padding-left: 1px;
		margin-bottom: 0px !important;
	}
	.btn-group {
		margin-left: 0px !important;
	}
    .btn+.btn-group {
        margin-left: 5px !important;
    }
    overflow-y: auto;
    .container {
        .btn-group {
            position: initial;
            .dropdown-menu {
                top: 94%;
                left: initial;
            }
        }
        padding: 0 5px;
        margin: 0 auto;
        overflow-y: visible;
        max-width: 1170px;
        width: 100%;
        & > :last-child {
            margin-right: 5px;
        }
        white-space: nowrap;
    }
}
#table_cursor {
	position: absolute;
	outline: 2px solid black;
	border: 0px solid transparent;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	pointer-events: none;
	background: none !important;
	left: -1000px;
	top: 0px;
    z-index: 902;
}
#table_selection {
    position: absolute;
    pointer-events: none;
    left:-1000px;
    top: 0px;
    padding: 1px 2px;
    z-index: 899;
	background-color: rgba(0,120,252,0.2);
}
.dropdown-menu i {
	position: relative;
	left: -10px;
}
@media (max-width: 767px) {
    nav.navbar .collapse > * {
        float: none !important;
    }
}
nav.navbar {
    position: relative;
    border-bottom: 1px solid #cccccc;
    border-color: #cccccc;
    .navbar-header {
        float: left;
    }
    .collapse {
        border-bottom: 1px solid #080808;
        padding: 0;
        overflow: auto;
        display: block !important;
        width: auto;
        height: 51px;
        white-space: nowrap;
        & > * {
            display: inline-block;
        }
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav {
        float: left;
        //display: inline-block;
        margin: 0;
        li {
            float: left;
            a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}
.float {
    position: absolute;
}
.sidebar {
    width: 250px;
    float: right;
    position:absolute;
    right: 0;
    bottom: 0;
    top: 95px;
    background-color: #eee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    .toggle-sidebar {
        position: absolute;
        float: right;
        right: 5px;
    }
    &#presentation-nav {
        float: left;
        left: 0;
        padding: 5px;
        .slideWell {/*
            position: absolute;
            top: 43px;
            left: 5px;
            right: 5px;
            bottom: 5px;*/
            margin-top: 5px;
            min-height: 1in;
            overflow-y: auto;
            .slidePreview {
                color: black;
                border: 1px solid #cccccc;
                border-radius: 4px;
                height: 1.5in;
                margin: 5px;
                cursor: pointer;
                &.active {
                    border: 2px solid black;
                    margin: 4px;
                }
                overflow: hidden;
                .slide {
                    transform-origin: top left;
                    transform: scale(0.3) !important;
                    -webkit-transform: scale(0.3) !important;
                    -webkit-transform-origin: top left;
                    padding: 0;
                    margin: 0;
                    border: none;
                    display: block !important;
                    -user-modify: initial;
                    -moz-user-modify: initial;
                    -webkit-user-modify: initial;
                }
            }
        }
    }
    &#note-nav {
        float: left;
        left: 0px;
        padding: 5px;
        #notesView {
            margin-top: 5px;
            padding: 8px 0;
            a {
                cursor: pointer;
            }
            ul {
                ul {
                    margin-left: -20px;
                    margin-right: 0px;
                    a {
                        padding-left: 30px;
                    }
                }
            }
        }
}
    &#chat {
        position: fixed;
        #user_list{
            display: table;
            border-spacing: 5px;
            a {
                display: table-cell;
                img {
                    width: 38px;
                }
            }
        }
        a {
            img {
                border: 1px solid transparent;
            }
        }
        a img:hover, a img:active, a:hover img, a:active img {
            border: 1px solid black;
        }
        #chat_well {
            margin: 5px;
            position: absolute;
            font-size: 10pt;
            bottom: 39px;
            top: 45px;
            width: 238px;
            overflow-y: auto;

            span {
                font-weight: bold;
            }
            a img {
                margin-right: 5px;
                height: 24px;
                float: left;
            }
            p {
                margin: 0;
                vertical-align: top;
                padding: 5px;
                border-bottom: 1px solid #cccccc;
                line-height: 10pt;
                word-wrap: break-word;
                min-height: 35px;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .chat_input {
            margin: 5px;
            position: absolute;
            bottom: 0;
            * {
                font-size: 10pt;
            }
        }
    }
}
.edit .return_edit {
    display: none;
}
.Table.axis {
    position: absolute;
    font-size: 11pt;
    line-height: 11pt;
    color: black;
    background-color: #eee;
    display: none;
    z-index: 901;
    th.active {
        background-color: #666;
        color: white;
    }
    &#y {
        width: 40px;
    }
}
.Resize.handle {
    display: none;
}
.edit .Resize.handle {
    display: initial;
    border: 1px solid black;
    background-color: white;
    height: 7px;
    width: 7px;
    position: absolute;
    margin: -4px;
    z-index: 910;
    &.top.left.dragable {
        height: 16px;
        width: 16px;
        margin: -8px;
        line-height: 14px;
        cursor: move;
        i {
            line-height: 14px;
        }
    }
    &.top.left {
        cursor: nw-resize;
    }
    &.top.middle {
        cursor: n-resize;
    }
    &.top.right {
        cursor: ne-resize;
    }
    &.middle.left {
        cursor: w-resize;
    }
    &.middle.right {
        cursor: e-resize;
    }
    &.bottom.left {
        cursor: sw-resize;
    }
    &.bottom.middle {
        cursor: s-resize;
    }
    &.bottom.right {
        cursor: se-resize;
    }
}
.content_container {
    @include ex(transform-origin, top center);
    padding: 5px;
    padding-top: 0.1in;
    &.left {
        @include ex(transform-origin, top left);
    }
}
.layout-note {
    .content_well {
        left: 252px;
        .content {
            height: 100%;
            right: 0px;
            position: absolute;
            #note-well, .note-page, .note-section {
                width: 100%;
                height: 100%;
            }
            .content_container {
                @include ex(transform-origin, top left);
            }
            .note-page {
                position: relative;
                .note-title {
                    position: relative;
                    left: 20px;
                    top: 20px;
                    min-height: 32pt;
                    line-height: 32pt;
                    min-width: 250px;
                    font-size: 24pt;

                    border-left: none;
                    border-bottom: 1px solid #666;
                    background-color: transparent;
                }
                section {
                    min-height: 16px;
                    padding: 8px;
                    width: 250px;
                    position: absolute;
                    display: inline-block;
                    background-color: #f5f5f5;
                    border-left: 3px solid #666;
                    &[contenteditable=true] {
                        outline: 1px dashed #aaa;
                    }
                }
            }
        }
    }
}
ul.nav.nav-list {
    line-height: 10px;
    a {
        color: #333333;
    }
    li {
        &.active2 > a, .active > a {
            &:hover {
                background-color: transparent !important;
            }
            border-right: 1px solid #333333;
            font-weight: bold;
        }
        ul.nav.nav-list {
            margin-left: -5px;
            border: none;
            font-weight: normal;
            li {
                margin-left: 20px;
            }
        }
    }
}
.open {
    z-index: 10;
}
.badge-pulse {
    @include ex(animation-duration, 1s);
    @include ex(animation-name, badge-glow);
    @include ex(animation-iteration-count, infinite);
    @include ex(animation-direction, alternate);
}
@include keyframes(badge-glow) {
    from {
        background-color: #999;
    }
    to {
        background-color: #f89406;
    }
}
