* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
@media (max-width: 979px) {
    .menu .navbar {
        ul li>a {
            margin-top: -5px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: -5px;
        }
    }
}
.centered_alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: table;
    & > div {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        & > div {
            width: 100%;
            text-align: center;
            background-color: rgba(0,0,0,0.5);
            .fa-spin {
                display: inline-block;
                margin-left: -50px;
                margin-right: 13px;
            }
            & > div {
                width: 500px;
                display: inline-block;
                margin: 0;
            }
        }
    }
}
@media (max-width: 767px) {
    .centered_alert > div > div > div {
        width: 100%;
        padding: 10px;
    }
}
.hero-special {
    display: inline-block;
    text-align: left;
}
.hero-middle {
    display: inline-block;
    vertical-align: middle;
    margin-top: 165px;
    text-align: center;
    width: 100%;
}
.hero-unit > form {
    position: relative;
    left: -80px;
}
.login-area {
    text-align: center;
}
.navbar-inner {
    a {
        color: white !important;
    }
    .text {
        color: white !important;
        vertical-align: middle;
        padding: 10px 0px;
    }
}
.ribbon {
	width: 100%;
	background-color: white;
	padding-bottom: 5px;
	height: 44px !important;
}
body > .container, body > .container-fluid {
    margin-top: 70px;
}
.menu {

}
.navbar {
    //position: relative !important;
    li img {
        margin: -10px 0;
        height: 22px;
    }
}
.table-click {
    a.btn {
        margin: -8px -4px;
    }
}
.ribbon-opt li.active a, .ribbon-opt li.active a:hover  {
	//background-color: rgba(255,255,255,0.45) !important;
	//background-color: #777 !important;
	//font-weight: bold;
}
.ribbon-opt li {
	cursor: pointer;
    a:hover {
        //background-color: rgba(255,255,255,0.3) !important;
    }

}
.navbar-brand {
    color: white !important;
}
#alert_well {
	position: fixed;
	text-align: left;
    z-index: 500;
	bottom: 0;
	left: 0;
	margin-left: 10px;
    .alert {
        display: table;
        margin-right: auto;
        margin-bottom: 10px;
    }
}
.ad {
    &.link {
        @media (max-width: 1259px) {
            display: table;
            margin: 0 auto;
            top: -15px;
            position: relative;
        }
        @media (min-width: 1260px) {
            display: none;
        }
    }
}


    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */


    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
        margin-bottom: 15px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }
    .dropdown-menu {
        text-shadow: none;
    }
    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
    }
    .carousel-caption {
      background-color: transparent;
      position: static;
      margin-top: 200px;
      text-align: left;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .or {
        display: inline;
        position: relative;
        top: 5px;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      border-radius: 4px;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    .bs-docs-social-buttons {
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      text-align: center;
      margin-top: 130px;
      margin-bottom: 10px;
    }
    .bs-docs-social-buttons li {
      display: inline-block;
      padding: 5px 8px;
      line-height: 1;
      *display: inline;
      *zoom: 1;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .carousel-caption {
        margin-top: 70px;
      }
      .navbar-fixed-top {
        margin-bottom: 0px;
        }
      .navbar-inner {
        border-radius: 0;
      }

      .carousel .item {
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      .bs-docs-social-buttons {
        margin-top: 0px;
      }
      .bs-docs-social-buttons li {
        padding: 0;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
      }

      .carousel-caption {
        margin-top: 50px;
      }
      .carousel-caption .or {
          display: none;
      }
      .carousel-caption .btn-group {
          width: 100%;
      }
      .carousel-caption .btn {
          display: block;
          width: 100%;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    }
/* Quick links on Home */
.carousel-inner {
    background-image: url("/img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
