* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
@media (max-width: 979px) {
    .menu .navbar {
        ul li>a {
            margin-top: -5px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: -5px;
        }
    }
}
.hero-special {
    display: inline-block;
    text-align: left;
}
.hero-middle {
    display: inline-block;
    vertical-align: middle;
    margin-top: 165px;
    text-align: center;
    width: 100%;
}
.hero-unit > form {
    position: relative;
    left: -80px;
}
.login-area {
    text-align: center;
}
.navbar-inner {
    a {
        color: white !important;
    }
    .text {
        color: white !important;
        vertical-align: middle;
        padding: 10px 0px;
    }
}
.ribbon {
	width: 100%;
	background-color: white;
	padding-bottom: 5px;
	height: 44px !important;
}
body > .container, body > .container-fluid {
    margin-top: 70px;
}
.menu {

}
.navbar {
    //position: relative !important;
    li img {
        margin: -10px 0;
        height: 22px;
    }
}
.table-click {
    .info, .success {
        cursor: pointer;
    }
    .error {
        cursor: default;
    }
    a.btn {
        margin: -8px -4px;
    }
}
.ribbon-opt li.active a, .ribbon-opt li.active a:hover  {
	//background-color: rgba(255,255,255,0.45) !important;
	//background-color: #777 !important;
	//font-weight: bold;
}
.ribbon-opt li {
	cursor: pointer;
    a:hover {
        //background-color: rgba(255,255,255,0.3) !important;
    }

}
.navbar-brand {
    color: white !important;
}
.ribbon .container {
	display: none;
    height: 43px !important;
}
#alert_well {
	position: fixed;
	text-align: left;
    z-index: 500;
	bottom: 0;
	left: 0;
	margin-left: 10px;
    .alert {
        display: table;
        margin-right: auto;
        margin-bottom: 10px;
    }
}
.ad {
    &.link {
        @media (max-width: 1259px) {
            display: table;
            margin: 0 auto;
            top: -15px;
            position: relative;
        }
        @media (min-width: 1260px) {
            display: none;
        }
    }
}
