body, .popover {
    background-color: #111;
    color: white;
    table.table.table-hover tr:hover >td {
        background-color: #333;
    }
    .btn-default, .form-control {
        background-color: #333;
        color: white;
        border-color: white;
    }
    .ribbon {
        background-color: #111;
    }
    .content_well, .popover-title, .arrow {
        background-color: #222 !important;
        background-image: none;
    }
}
